
body{
    margin: 0;
   background-image: url(9019808.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   visibility: 100%;
}



.Navi {
    margin-top: -4%;
    background-color: rgb(15, 43, 113);
    padding: 55px 660px;
    position: fixed;
}
.w-1{
  top: 18px;
  left: 558px;
  position: fixed;
  color: rgb(192, 217, 239);
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;

}
.w-2{
  top: 18px;
  left: 611px;
  position: fixed;
  color: rgb(107, 167, 219);
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;

}
.o-1{
  top: 18px;
  left: 45px;
  position: fixed;
  color: rgb(207, 207, 212);
  font-family: Verdana;
  font-weight: normal;
  font-size: 17px;
}
.o-2{
   top: 18px;
  left: 145px;
  position: fixed;
  color: rgb(207, 207, 212);
  font-family: Verdana;
  font-weight: normal;
  font-size: 17px;
}
.o-3{
   top: 18px;
  left: 245px;
  position: fixed;
   color: rgb(207, 207, 212);
  font-family: Verdana;
  font-weight: normal;
  font-size: 17px;
}
.staffs-Acc{
  top: 18px;
  left: 1000px;
  position: fixed;
   color: rgb(207, 207, 212);
  font-family: Verdana;
  font-weight: normal;
  font-size: 17px;
}
.Brgy-Informations{

}
a{
  margin-top:33px;
  margin-left: 55px;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-size: 1rem;
  font-weight: normal;
  font-family: Cambria;
  color: rgb(245, 247, 248);
}
a:hover{
  color:rgb(110, 177, 245);
  font-weight: normal;
  text-decoration: underline;
  
  animation: ease 2s;

}







